.productos{
    margin: 10px;
    text-align: center;
    padding-top: 20px;
    border-style: outset;
    border-color: red;
    border-radius: 20px;
}

img{
    max-width: 180px;
    max-height: 150px;
    min-height: 80px;
    min-width: 110px;
    height: 90%;
    width: 70%;
}